dz**/
custom_ip/
**_bsp/
db/
incremental_db/
synthesis/
output_files/
.qsys_edit/
simulation/
obj/
.cproject
.project
create-this-app
Makefile
*.lnk
p_02_report
*.qsys
*.qpf
*.qsf
*.qws
*.sdc
*.bak
*.rpt
*.bsf
*.srf
*.cmp
*.map
*.objdump
*.html
*.elf
*.force_relink
*.7z
readme.txt